@import 'tailwindcss';

@theme {
  --color-primary: #824fcf;
  --color-secundary: #432dd7;
  --color-text: #6a06ff;
  --color-primary-hover: #cf4f9c;

  --color-success: #6fbf7384;
  --color-success-dark: #134616;

  --color-error: #c065659d;
  --color-error-full: #f44336;
  --color-error-dark: #621919;
}
